CLIENT_ID=${CLIENT_ID}
CLIENT_SECRET=${CLIENT_SECRET}
CLIENT_PUBLIC_KEY=${CLIENT_PUBLIC_KEY}
SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN}
SENTRY_ORG=${SENTRY_ORG}
SENTRY_PROJECT=${SENTRY_PROJECT}
SENTRY_DSN=${SENTRY_DSN}
CACHE_DNS_TTL=10
CACHE_WHOIS_TTL=30
